* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
    flex-direction: column;
    margin: 0; /* Remove default body margins */
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0 .5rem 0;
}

header h1 {
    margin-left: 1rem;
}
nav {
  margin: 0px;
  padding: 0px;
  line-height: 1.4;
  overflow: hidden;
}
nav ul {
    display: flex;
    list-style: none;
      background: linear-gradient(to bottom, #d1d1d1, #888888);
}

nav ul li a {
    color: #fff;
    padding: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background: #555;
}

main {
  flex: 1; /* Allow main content to grow and push the footer down */
  padding: 1rem;
}

section {
    padding: 1rem;
    margin-bottom: 1rem;
}

.roundboxgrey {
    border-radius: 20px;
    background: #ccc;
    color: #000;
    padding: 1rem;
    border: 1px solid #888;
}
.roundboxblue {
    border-radius: 20px;
    background: #7BAFD4;
    color: #000;
    padding: 1rem;
    border: 1px solid #888;
}
.roundboxnavy {
    border-radius: 20px;
    background: #13294B;
    color: #fff;
    padding: 1rem;
    border: 1px solid #7BAFD4;
}
footer {
    background: linear-gradient(to bottom, #d1d1d1, #888888);
    color: #333;
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
}

footer p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #13294B;

}
